SECRET_KEY="A_SECRET_KEY"
DEBUG=True
DB_ENGINE="django.db.backends.sqlite3"
DB_NAME="db.sqlite3"
TMDB_API_KEY="A_TMDB_API_KEY"
EMAIL_HOST_PASSWORD="HOST_PASSWORD"
EMAIL_HOST="smtp-relay.brevo.com"
EMAIL_PORT=587
EMAIL_HOST_USER="HOST_USER"
DEFAULT_FROM_EMAIL="DEFAULT_EMAIL"
GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_SECRET="GOOGLE_SECRET"
DEEPL_API_KEY="your_deepl_api_key_here"