{% extends "users/email/base.html" %}

{% block content %}
<p>Hemos recibido una solicitud de restablecimiento de contraseña para tu cuenta:</p>

<div class="code-container">
    <p style="color: #bcbbdd; margin-bottom: 10px; font-size: 11px; text-transform: uppercase; letter-spacing: 1px;">Tu
        código de seguridad</p>
    <h2 class="verification-code">{{ user.forgot_password_code }}</h2>
</div>

<p style="font-size: 13px; color: #1f1f1f; opacity: 0.7;">Este código es privado y expirará pronto.</p>
{% endblock %}

{% block footer_text %}
<p>Si no has solicitado un restablecimiento de contraseña, puedes ignorar este correo.</p>
{% endblock %}