{% extends "users/email/base.html" %}

{% block content %}
<p>Gracias por unirte a nuestra comunidad cinéfila. Para completar tu registro, ingresa el siguiente código:</p>

<div class="code-container">
    <p style="color: #bcbbdd; margin-bottom: 10px; font-size: 11px; text-transform: uppercase; letter-spacing: 1px;">Tu
        código de seguridad</p>
    <h2 class="verification-code">{{ user.verification_code }}</h2>
</div>
{% endblock %}

{% block footer_text %}
<p>Si no creaste una cuenta, puedes ignorar este correo.</p>
{% endblock %}